@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

header {
    background-color: rgba(13, 76, 122, 1);
    display: grid;
    grid-template-columns: 150px auto;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1600px;
}

body {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;

  }

#content {
    max-width: 1600px;
    margin: 0 auto;
    
}



.logo {
    width: 5em;
    padding: 1px 1px;
    padding-left: 40px;
    margin: -8px -72px;
}

#logo_link {
    padding: 10px 0px; 
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#myLinks {
    display: flex;
}

nav a {
    color: #f4f1de;
    text-decoration: none;
    font-family: "Arima", Arial, Helvetica;
    padding: 30px 25px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

nav a:hover {
    background-color: #D1E6DD;
    color: #5E7269;
}

.nav-active{
    text-decoration: underline;
}

.icon {
    display: none;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0;
    justify-content: center;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 165px;
}

#hero-img {
    justify-self: center;
    width: 100%;
    
}

.home-title {
    color: #f4f1de;
    font-size: 2.8em;
    font-family: "Dynapuff", Arial, Helvetica;
    margin-top: -45px;
    text-align: center;
}

.other-home-title {
    color: black;
    font-size: 2.8em;
    font-family: "Dynapuff", Arial, Helvetica;
    text-align: center;
}






.home-grid {
    display: grid;
    grid-template-columns: 10fr;
    align-items: center;
    grid-auto-columns: 10%;

}

.book {
    background-color: rgba(13, 76, 122, 1);
    color: #f4f1de;
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Arial, Helvetica;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 10px;
    border: 0px;
}

.btn-resources {
    background-color: rgba(13, 76, 122, 1);
    color: #f4f1de;
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, Arial, Helvetica;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 10px;
    border: 0px;
}

.button-box {
    text-align: center;
}


.mission{
    padding: 100px 50px;
    grid-column: 2/8;
    grid-row: 2/2;
}

.diy-resources {
    padding: 10px 10px;
    grid-column: 2/5;
    grid-row: 4/4;


}
.diy-img {
    max-width: 375px;
    grid-column: 6/8;
    grid-row: 4/4;
    margin-left: 0px;
}

.assistance {
    grid-column: 5/9;
    grid-row: 7/7;
    padding-left: 10em;
    padding-top: 100px;
}

.assistance-img {
    max-width: 450px;
    grid-column: 2/5;
    grid-row: 7/7;
    margin-top: 100px;
}

h4 {
    font-family: "Dynapuff", Arial, Helvetica;
    font-size: 24px;
}


h1 {
    font-family: "Dynapuff", Arial, Helvetica;
    font-size: 40px;
}

p {
    font-family: "Arima", Arial, Helvetica;
}

#placeholder {
    height: 450px;
    grid-column: 1/10;
    grid-row: 1/3;
    margin-top: 50px;
}

#background1 {
    height: 425px;
    grid-column: 1/10;
    grid-row: 1/3;
    margin-top: 50px;
}

#background2 {
    background-color: #EDCD9A;
    height: 625px;
    grid-column: 1/10;
    grid-row: 3/6;
    margin-top: 50px;
}

#background3 {
    height: 450px;
    grid-column: 1/10;
    grid-row: 6/9;
    margin-top: 50px;
}

#background4 {
    background-color: rgba(13, 76, 122, 1);
    height: 450px;
    grid-column: 1/10;
    grid-row: 9/12;
    margin-top: 100px;
}
#background5 {
    background-color: #EDCD9A; 
    height: 100px;
    grid-column: 1/10;
    grid-row: 12/13;
    margin: 15px 0px;

}

.build-sesh {
    background-color: rgb(239, 215, 176);
    font-family: "Dynapuff", Arial, Helvetica;
    padding: 35px 50px;
    grid-column: 3/7;
    grid-row: 10/11;
    box-shadow: 6px 6px 10px rgb(35, 39, 41);
    text-align: center;
    margin-top: 100px;
}

.build-sesh h2 {
    margin-bottom: 50px;
}


#diy-background1 {
    height: 350px;
    grid-column: 1/10;
    grid-row: 1/3;
    margin-top: 50px;
}
#diy-background2 {
    height: 400px;
    grid-column: 1/5;
    grid-row: 3/6;
    margin-top: 50px;
    background-color: #f4f1de;
}

.diy-mission {
    grid-column: 2/8;
    grid-row: 2/2;
    text-align: center;
    margin: 50px 0px;
}

#diy-background3 {
    height: 400px;
    grid-column: 5/10;
    grid-row: 3/6;
    margin-top: 50px;
    background-color:rgba(13, 76, 122, .65);
}

.diy-section2 {
    grid-column: 2/4;
    grid-row: 3/6;
    margin-top: 50px;
}

.h4diy-section2 {
    grid-column: 2/4;
    grid-row: 3/6;
    margin-top: -180px;
}

.h4diy-section3 {
    grid-column: 7/9;
    grid-row: 3/6;
    margin-top: -180px;
}


.diy-section3 {
    grid-column: 7/9;
    grid-row: 3/6;
    margin-top: 50px;
}

#diy-background4 {
    height: 450px;
    grid-column: 1/10;
    grid-row: 6/9;
    margin-top: 0px;
}

.safety {
    grid-column: 2/8;
    grid-row: 7/7;
}

#diy-background5 {
    height: 575px;
    grid-column: 1/10;
    grid-row: 9/12;
    margin-top: 0px;
    background-color: #EDCD9A;
}

.diy-info {
    grid-column: 2/8;
    grid-row: 10/10;
    text-align: center;
}

#diy-background6 {
    height: 575px;
    grid-column: 1/10;
    grid-row: 12/15;
    margin-top: 0px;
    background-color: white;
}

.visit-showroom {
    grid-column: 6/9;
    grid-row: 13/13;
    text-align: center;
    margin: 0 60px;
}

#boardpanel {
    grid-column: 2/5;
    grid-row: 13/13;
}

#board {
    grid-column: 2/3;
    grid-row: 13/13;
    width: 400px;
    margin: 0 -50px;
}

#diy-background7 {
    height: 400px;
    grid-column: 1/10;
    grid-row: 15/18;
    background-color: rgba(13, 76, 122, 1);
}

.ask-for-help {
    grid-column: 2/8;
    grid-row: 16/17;
    background-color: rgb(239, 215, 176);
    font-family: "Dynapuff", Arial, Helvetica;
    padding: 35px 50px;
    box-shadow: 6px 6px 10px rgb(35, 39, 41);
    text-align: center;
}

#diy-finalbackground {
    background-color: #EDCD9A; 
    height: 100px;
    grid-column: 1/10;
    grid-row: 18/20;
    margin:15px 0px;
}



footer {
    background-color: rgba(13, 76, 122, 1);
    color:#f4f1de;
    padding: 10px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color:#f4f1de 
}

footer a {
    color: #f4f1de;
    text-decoration: none;
}

footer a:hover {
    color: #f4f1de;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 5px;
    border-radius: 50%;
    width: 40px;
}
footer .social img:hover {
    padding-top: 5px;
    border-radius: 25%;
    width: 40px;
}

#contact-finalbackground {
    background-color: rgba(13, 76, 122, 1); 
    height: 100px;
    grid-column: 1/10;
    grid-row: 11/11;
    margin:15px 0px;
}

#contact-background2 {
    height: 525px;
    grid-column: 1/10;
    grid-row: 7/10;
    background-color: #EDCD9A;
}

.contact-resources {
    grid-column: 1/10;
    grid-row: 8/9;
    text-align: center;
    padding: 25px 25px;
}

.contact-resources .last {
    font-size: 12px;
    margin:35px 0px;
}



.contact-info {
    grid-row: 2/3;
    grid-column: 3/8;
    text-align: center;
    margin-left: -230px;
}

.contact-info #us, .contact-info #eu {
    text-decoration: underline;
    font-family: "Dynapuff", Arial, Helvetica;
    font-size: 24px;
}

#contact-break {
    height: 10px;
    background-color: #EDCD9A;
    grid-column: 2/8;
    grid-row: 3/4;
    margin-top: 25px;
  }

form {
    /* Center the form on the page */
    margin: 50px auto;
    width: 300px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    grid-row: 4/7;
    grid-column: 1/10;    
  }
  

  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 200px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  
  #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;      
  }
  .moveDown {
      margin-top: 3em;
  }

 

@media screen and (max-width: 950px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }

    



    
    #hero {
        margin-top: 235px;
    }
    #hero-msg {
        margin-top: 50px;  
    }

    .other-home-title {
        margin-top: 550px;
    }
    
    .button-box {
        padding-top: 25px;
    }
    .home-title {
        font-size: 29px;
        color: #0D4C7A;
    }
    #background1, #background2, #background3, #background4 { 
        display: none;
        margin: 50px auto;
        width: 100%;
    }
    #background5 {
        display: none;
    }

    .mission {
        margin-top: 150px;
        padding: 50px 50px;
        font-size: medium;
        
    }
    .diy-resources {
        margin-top: 85px;
        padding-top: 325px ;
        background: #EDCD9A;
        height: 325px;
        text-align: center;
        padding-bottom: 75px;
    }
    .diy-resources p {
        margin: 0 25px;
        margin-bottom: 25px;
        font-size: medium;
    }
    .btn-resources {
        margin: 250px 0;
    }

    .diy-img {
        width: 350px;
        padding-top: 100px;
        margin-bottom: -400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .assistance-img {
        width: 350px;
        margin-bottom: -100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .assistance {
        margin-top: 50px;
        padding: 50px 50px;
        text-align: center;
        font-size: medium;
    }
    .build-sesh {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

    .contact-resources {
        margin-top:-925px ;
    }
    #contact-background2 {
        min-height: 950px;
    }
    #contact-finalbackground {
        display: none;
    }
    .contact-info {
        text-align: center;
        margin-left: -70px;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: flex;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .icon {
        display: block;
        color:white;
        display: block;
        text-align: center;
        padding:15px;
      }
      .topnav a.icon {
        color:white;
        
         
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .diy-mission {
        margin-top: -60px;
      }

      #diy-background2 {
        display: none;
      }
      #diy-background3 {
        display: none;
      }
      
      
      
      
      
      .diy-section2 {
        background-color: #f4f1de;
        padding: 65px 0px;
        text-align: center;
        margin-top: -35px;
        margin-bottom: 10px;
      }
      .diy-section3 {
        background-color: rgba(13, 76, 122, .65);
        padding: 60px 0px;
        text-align: center;
        list-style-position: inside;
        margin-top: 50px;
      }

      .h4diy-section2 {
        background-color: #f4f1de;
        margin-top:100px;
        text-align: center;
        padding-top: 1px;
        margin-bottom: -50px;
      }
      .h4diy-section3 {
        background-color: rgba(13, 76, 122, .65);
        margin-top: 50px;
        text-align: center;
        list-style-position: inside;
        margin-top: -10px;
        padding-top: 1px;
        margin-bottom: -50px;
      }





      #diy-background4 {
        display: none;
      }
      .safety {
        margin: 0px 50px;
      }

      #diy-background5 {
        display: none;
      }

      .diy-info {
        background-color: #EDCD9A;
        padding: 25px 25px;
      }

      #diy-background6 {
        display: none;
      }
      #board {
        display: block;
        margin: auto;
        width: 90%;
        margin-top: 15px;
      }
      .visit-showroom {
        margin: 25px 0;
      }

      #diy-background7 {
        display: none;
      }

}



